<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3">
              <label for="filter1">Filter 1</label>
              <input type="text" class="form-control" id="filter1" placeholder="Enter filter 1 value">
            </div>
            <div class="col-md-6 mb-3">
              <label for="filter2">Filter 2</label>
              <input type="text" class="form-control" id="filter2" placeholder="Enter filter 2 value">
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="filter3">Filter 3</label>
              <input type="text" class="form-control" id="filter3" placeholder="Enter filter 3 value">
            </div>
            <div class="col-md-6 mb-3">
              <label for="filter4">Filter 4</label>
              <input type="text" class="form-control" id="filter4" placeholder="Enter filter 4 value">
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-6 mb-3">
              <button class="btn btn-primary btn-block" type="submit">Search</button>
            </div>
            <div class="col-md-6 mb-3">
              <button class="btn btn-primary btn-block" type="submit">Search</button>
            </div>
          </div>
          
    </div>
</body>

</html>